.home {
  display: flex;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 600px) {
  .home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.home h1 {
  margin-bottom: 1rem;
}

.home section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.form div {
  width: 20em;
  display: flex;
  justify-content: space-between;
}

.form button {
  cursor: pointer;
  margin-top: 1rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(55, 132, 55);
  transition: background-color 0.1s ease-in-out;
}

.form button:hover:not(:disabled) {
  background-color: rgb(10, 85, 10);
}

.form :disabled {
  cursor: wait;
  color: gray;
  background-color: khaki;
}

.list {
  margin: 0;
  padding: 0;
  list-style: '📝 ';
}

.list a {
  margin-left: 5px;
  text-decoration: underline;
}
